@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Roboto+Slab&family=Ysabeau+Office:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    
}

:root{
    --main-content-image-length: 600px;
}

 h2{
    font-family: 'Gowun Batang', serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.restaurant-name{
    font-family: 'Ysabeau Office', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    height: 100px;
    outline: solid red 2px;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home > img{
    height: var(--main-content-image-length);
    
}

.contact > img{
    height: var(--main-content-image-length);
}